body {
  font-family: "Roboto", sans-serif;
  font-size:  16px;
}

header {
  text-align: center;
}

main {
  text-align: center;
  padding-bottom: 3px;
  margin: auto;
}

section {
  margin-bottom: 40px;
}

.profile img {
  display: block;
  margin: auto;
  width: 360px;
}

.education-skills {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
  align-items: flex-start;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

table {
  min-width: 400px;
}

th, td {
  padding: 12px 20px;
  font-size: 16px;
}

.skills {
  text-align: left;
}

.skills ul {
  list-style: disc;
  padding: 0;
}

.skills li {
  margin: 5px 0;
  padding: 8px 12px;
  border-radius: 6px;
  width: max-content;
}

video {
  max-width: 50%;
}

.contact {
  text-align: center;
}
